/* Border */
/*----------------------------------------------------------------------------*/
/* Remove */
.JW_ACA--u-border--top {
    border-right: unset !important;
    border-left: unset !important;
    border-bottom: unset !important;
}

/* add */
.JW_ACA--u-border--add-all {
    border: solid 1px var(--grey-dark) !important;
}

.JW_ACA--u-border--add-top {
    border-top: solid 1px var(--grey-dark) !important;
}

.JW_ACA--u-border--add-bottom {
    border-bottom: solid 1px var(--grey-dark) !important;
}

.JW_ACA--u-border--add-left {
    border-left: solid 1px var(--grey-dark) !important;
}

.JW_ACA--u-border--add-right {
    border-right: solid 1px var(--grey-dark) !important;
}

/* Remove */
.JW_ACA--u-border--remove-all {
    border: none !important;
}

.JW_ACA--u-border--remove-top {
    border-top: none !important;
}

.JW_ACA--u-border--remove-bottom {
    border-bottom: none !important;
}

.JW_ACA--u-border--remove-left {
    border-left: none !important;
}

.JW_ACA--u-border--remove-right {
    border-right: none !important;
}

/* Width */
.JW_ACA--u-border--width-4 {
    border-width: 4px !important;
}

/* Color */
.JW_ACA--u-border--color-grey-dark {
    border-color: var(--grey-dark) !important;
}