/* Font */
/*----------------------------------------------------------------------------*/
.JW_ACA--u-font--size-xs {
    font-size: 0.8em;
}

.JW_ACA--u-font--size-sm {
    font-size: 0.9em;
}

.JW_ACA--u-font--size-md {
    font-size: 1em;
}

.JW_ACA--u-font--size-lg {
    font-size: 1.25em;
}