:root {
    --grey-light: #f0f0f1;
    --grey-dark: #c3c4c7;
}

$theme-colours: (
  "success": #198754,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #0dcaf0,
  "light": #f8f9fa,
  "dark": #212529,
);