/* COLOUR */
/*----------------------------------------------------------------------------*/
@use "sass:map";
@use '../settings/variables';

.JW_ACA--u-colour {
    &--success {
        color: map.get(variables.$theme-colours, "success")
    }

    &--danger {
        color: map.get(variables.$theme-colours, "danger")
    }

    &--warning {
        color: map.get(variables.$theme-colours, "warning")
    }

    &--info {
        color: map.get(variables.$theme-colours, "info")
    }

    &--light {
        color: map.get(variables.$theme-colours, "light")
    }

    &--dark {
        color: map.get(variables.$theme-colours, "dark")
    }
}