/* Font */
/*----------------------------------------------------------------------------*/
.JW_ACA--u-font {
    &--size-xs {
        font-size: 0.8em;
    }

    &--size-sm {
        font-size: 0.9em;
    }

    &--size-md {
        font-size: 1em;
    }

    &--size-lg {
        font-size: 1.25em;
    }

    &--size-xl {
        font-size: 1.5em;
    }
}
