/* ICON */
/*----------------------------------------------------------------------------*/
// "!important" used to reset jQuery UI CSS styles enqueued by other plugins.

.JW_ACA--c-icon {
    position: unset !important;
    text-indent: unset !important;
    overflow: unset !important;
    background-image: unset !important;
    background-repeat: unset !important;
    margin-top: unset !important;
    width: unset !important;
    height: unset !important;
}