<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="../../tests/PHPUnit/bootstrap.php"
    backupGlobals="false"
    cacheResultFile="cache/.phpunit.result.cache"
    colors="true"
    verbose="true"
    testdox="true"
    stopOnError="true"
    stopOnFailure="true"
>
    <!-- testsuites -->
    <testsuites>
        <!-- all -->
        <testsuite name="all">
            <directory suffix=".php">
                ../../src/App/*/Tests
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/Tests
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/Tests
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/Tests
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/*/Tests
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/*/*/Tests
            </directory>
        </testsuite>
        <!-- unit -->
        <testsuite name="unit">
            <directory suffix=".php">
                ../../src/App/*/Tests/Unit
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/Tests/Unit
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/Tests/Unit
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/Tests/Unit
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/*/Tests/Unit
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/*/*/Tests/Unit
            </directory>
        </testsuite>
        <!-- integration -->
        <testsuite name="integration">
            <directory suffix=".php">
                ../../src/App/*/Tests/Integration
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/Tests/Integration
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/Tests/Integration
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/Tests/Integration
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/*/Tests/Integration
            </directory>
            <directory suffix=".php">
                ../../src/App/*/*/*/*/*/*/Tests/Integration
            </directory>
        </testsuite>
        <!-- debug -->
        <!-- <testsuite name="debug">
            <directory suffix=".php">
                ../../src/
            </directory>
        </testsuite> -->
    </testsuites>
    <!-- coverage -->
    <coverage
        cacheDirectory="coverage/cache"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        includeUncoveredFiles="true"
        processUncoveredFiles="false"
        disableCodeCoverageIgnore="false"
    >
        <include>
            <directory suffix=".php">../../src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">../../src/App/*/Tests</directory>
            <directory suffix=".php">../../src/App/*/*/Tests</directory>
            <directory suffix=".php">../../src/App/*/*/*/Tests</directory>
            <directory suffix=".php">../../src/App/*/*/*/*/Tests</directory>
            <directory suffix=".php">../../src/App/*/*/*/*/*/Tests</directory>
            <directory suffix=".php">../../src/App/*/*/*/*/*/*/Tests</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/report/html" />
            <!-- <php outputFile="./coverage/report/php/index.php" /> -->
        </report>
    </coverage>
    <!-- logging -->
    <logging>
        <testdoxHtml outputFile="logs/log.html" />
    </logging>
    <!-- php -->
    <php>
        <ini name="display_errors" value="true" />
        <ini name="xdebug.mode" value="coverage" />
        <ini name="xdebug.start_with_request" value="yes" />
        <ini name="xdebug.client_host" value="localhost" />
        <ini name="xdebug.client_port" value="9003" />
        <ini name="xdebug.idekey" value="VSCODE" />
    </php>
</phpunit>