/* CARD */
/* "!important" used to reset jQuery UI CSS styles enqueued by other plugins. */
/*----------------------------------------------------------------------------*/
.JW_ACA--c-card {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--grey-dark);

    font-family: unset !important;
    font-size: unset !important;
}

/* Card Header */
.JW_ACA--c-card__header {
    display: flex !important;
    flex-direction: column;

    margin: 0 !important;

    padding: 0 !important;
    padding-top: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;

    border: none !important;

    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;

    background: var(--grey-light) !important;
}

/* Card Body */
.JW_ACA--c-card__body {
    display: flex;
    flex-direction: column;

    padding: 0 !important;

    border: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    background: white;
}

/* Card Title */
.JW_ACA--c-card__title {
    margin: 0 !important;
    font-weight: 600;
}