/* CARD */
/*----------------------------------------------------------------------------*/
.JW_ACA--c-card {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--grey-dark);
}

/* Card Header */
.JW_ACA--c-card__header {
    display: flex;
    flex-direction: column;

    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;

    background: var(--grey-light);
}

/* Card Body */
.JW_ACA--c-card__body {
    display: flex;
    flex-direction: column;

    background: white
}

/* Card Title */
.JW_ACA--c-card__title {
    margin: 0 !important;
    font-weight: 600;
}