/* TOOLTIP */
/*----------------------------------------------------------------------------*/
.JW_ACA--c-tooltip {
    display: none;

    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;

    position: absolute;
    z-index: 9999;
    max-width: 300px;

    color: white;
    background: #1d2327;
    border-radius: 4px;

    text-align: center;

    font-size: 11px !important;
}

.JW_ACA--c-tooltip * {
    font-size: 11px !important;
}

/* @source https://codepen.io/GreeCoon/pen/OpGjLM */
/* Arrow []> */
.JW_ACA--c-tooltip::after {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    right: 0;
    top: 50%;
    border: 5px solid transparent;
    border-right: 0;
    border-left: 5px solid #1d2327;
    transform: translate(calc(100%), -50%);
}

.JW_ACA--c-tooltip p {
    margin-top: 0 !important;
}

.JW_ACA--c-tooltip p:last-child {
    margin-bottom: 0 !important;
}