/* Gap */
/*----------------------------------------------------------------------------*/
.JW_ACA--u-gap--row-no {
    row-gap: 0px;
}

.JW_ACA--u-gap--row-xs {
    row-gap: 4px;
}

.JW_ACA--u-gap--row-sm {
    row-gap: 8px;
}

.JW_ACA--u-gap--row-md {
    row-gap: 16px;
}

.JW_ACA--u-gap--row-lg {
    row-gap: 32px;
}

.JW_ACA--u-gap--row-xl {
    row-gap: 64px;
}