/* Padding */
/*----------------------------------------------------------------------------*/
.JW_ACA--u-padding--all-no {
    padding: 0 !important;
}

.JW_ACA--u-padding--all-xs {
    padding: 4px !important;
}

.JW_ACA--u-padding--all-sm {
    padding: 8px !important;
}

.JW_ACA--u-padding--all-md {
    padding: 12px !important;
}
