/* Size */
/*----------------------------------------------------------------------------*/
.JW_ACA--u-size--width-33 {
    width: 33%
}

.JW_ACA--u-size--width-40 {
    width: 40%
}

.JW_ACA--u-size--width-50 {
    width: 50%
}

.JW_ACA--u-size--width-100 {
    width: 100%
}

.JW_ACA--u-size--13px {
    width: 13px;
    height: 13px;
}